.marquee_container {
    width: 95%;
    max-width: 80rem;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap; 
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 10%,
        rgba(0,0,0,1) 90%,
        rgba(0,0,0,0)
    );
}

.marquee_wrapper {
    display: flex;
    gap: 5rem;    
    animation: scroll-left 30s linear infinite;
}

.marquee_item {
    color: var(--c3);
    font-size: 1.2rem;
    font-weight: bold;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
