nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--c3);
    width: 95%;
    max-width: 80rem;
    z-index: 111;
    border-radius: 1rem;
    margin: 2rem auto;
    /* border: 0.1rem solid black; */
    padding: .5rem;

}

.resp-nav-icon{
    display: none;
    padding: .5rem;
    right: 0;
    /* line-height: 5px; */
    align-items: center;
    justify-content: center;
    /* border: 0.1rem solid black; */

}
.resp-nav-icon i{
    color: var(--c2);
    font-size: 2rem;
}
.logo{
    width: 10rem;
    cursor: pointer;
    /* border: 0.1rem solid black; */
    /* position: absolute; */
    text-decoration: none;

}
.logo p{
    margin: 0;
    color: var(--c2);
    font-weight: bold;
}
.logo img{
    width: 100%;
    height: auto;
}
.links{
    display: flex;
    list-style: none;
    gap: 2rem;
    color: var(--c2);
    font-weight: bold;
    /* border: 0.1rem solid black; */

}
.link{
    position: relative;
    cursor: pointer;
    /* border: 0.1rem solid black; */
    /* height: 3rem; */
    align-items: center;
    justify-content: center;
    display: flex;
    column-gap: .3rem;
}
.link:hover{
    color: var(--c1);
    .sublinks{
        display: block;
        transform: translateY(0%);
        opacity: 1;
    }
    .sublinks li{
    opacity: 1;
    display: block;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: .3rem;

    }
    .NavLinks{
    color: var(--c1);
    }
    
}
.sublinks{
    display: flex;
    flex-direction: column;
    display: block;
    background-color: var(--c3);
    color: var(--c1);
    top: 2.7rem;
    list-style: none;
    position: absolute;
    width: 10rem;
    align-items: center;
    justify-content: center;
    transform: translateY(50%);
    transition: 0.2s;
    opacity: 0;
    left: 0;
    border-radius: .5rem;
    box-shadow: .1rem .1rem 1rem var(--c2);

}
.sublinks li{
    opacity: 0;
    display: none;
    /* border: 0.1rem solid black; */
    transition: 0.2s;
}

.NavLinks{
    color: var(--c2);
    text-decoration: none;
    transition: 0.2s;
    /* border: 0.1rem solid black; */
    width: 100%;

}
.sublinks li:hover{
    color: var(--c3);
    background-color: var(--c1);

}

.detail-summary{
    height: 50vh;
    list-style: none;
    background-color: var(--c2);
    width: 100%;
    position: relative;
    padding: 1rem;
    overflow-y: auto; 
    overflow-x: hidden;
    overflow: scroll;
    display: none;
}
.details-sublinks{
    list-style: none;
    /* border: 0.1rem solid wheat; */
}
.details-sublinks li{
    /* border: 0.1rem solid wheat; */
    margin: .5rem 1rem;
}
.detail-summary .NavLinks{
    color: var(--c3);
}
.detail-summary details{
    /* border: 0.1rem solid wheat; */
    padding: .5rem;
}
.detail-summary summary{
    list-style:none;
    color: var(--c3);
    /* border: 0.1rem solid wheat; */
    
}
@media (max-width:900px) {
    nav{
    justify-content: space-between;
    margin: .5rem auto;
    }
    .navlinks, .btn_nav{
        display: none;
    }
    .resp-nav-icon{
        display: block;
    }

}