.TwoChild-container {
    background-color: var(--c5);
    width: 95%;
    max-width: 80rem;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--c1);
    /* border: 0.1rem solid wheat; */
    margin: 4rem auto;
  }
  
  .TwoChild-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    /* border: 0.1rem solid green; */
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .image-section {
    width: 40%;
    /* border-radius: 1rem; */
  }
  .image-section img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
    border-bottom-left-radius: 0;

  }
  
  .text-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    /* border: 0.1rem solid black; */
    gap: 1rem;
    /* text-shadow: .1rem .1rem 1rem black; */
    align-items: start;    

  }
  
.text-section h1{
    color: var(--c3);
}
 
.text-section h1 span{
    color: var(--c4);
    text-decoration: underline;

}
p{
    /* font-size: 1rem; */
    color: var(--c3);
    /* font-weight: bold; */
    margin-bottom: 1.5rem;
    /* text-shadow: .1rem .1rem 1rem gray; */

  }
  @media (max-width:900px) {
    .image-section, .text-section{
      width: 95%;
    }
    .TwoChild-content{
      justify-content: center;
    }
  }